h1 {
	font-family: 'Cedarville Cursive';
	text-align: center;
	font-weight: bold;
}

h3 {
	text-align: center;
	font-weight: bold;
}

body {
	font-family: 'Work Sans';
}

a:link {
	text-decoration: none;
	color: #80BFFF;
}

a:visited {
	color: #80BFFF;
}

a:hover {
	color: #0059B3;
}

ul {
	list-style-type: none;
	text-align: center;
}

.nav-bg img {
  vertical-align: text-bottom;
}

.nav-ul {
	white-space: nowrap;
}

.nav-li {
	display: inline;
}

.nav-content {
	color: #80BFFF;
	font-size: 14pt;
}


li.currentPage {
	color: #00008B;
	font-weight: bold;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 110px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-size: 14px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: rgba(128, 191, 255, 0.5);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.flex-item {
	flex-grow: 1;
}

#mainFooter {
	background-color: #FFFFFF;
	text-align: center;
	border-top-style: solid;
	border-top-color: #80BFFF;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#portrait {
	filter: drop-shadow(10px 10px 0 #80BFFF);
}

/* The Modal (background) */
#modalBox {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  #modalContent {
	background-color: #80BFFF;
	padding: 10px;
	padding-left: 20px;
	width: 20%;
	height: 600px;
	margin:0;
	float: right;
	border-radius: 1%;
	margin-bottom: 10px;
  }
  
#modalImg {
	padding: 10px;
	padding-left: 20px;
	max-height: 700px;
	max-width: 70%;
	margin:0;
	float: left;
	border-radius: 1%;
	margin-bottom: 10px;
}

  /* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }